USE [master]
GO
/****** Object:  Database [TrainWise]    Script Date: 07/06/2026 00:36:45 ******/
CREATE DATABASE [TrainWise]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainWise', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrainWise.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainWise_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrainWise_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainWise].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainWise]
GO
USE [TrainWise]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[ActivityID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ActivityTypeID] [int] NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[DistanceKM] [float] NULL,
	[AvgHeartRate] [int] NULL,
	[MaxHeartRate] [int] NULL,
	[CaloriesBurned] [float] NULL,
	[SourceDevice] [nvarchar](100) NULL,
	[ExertionLevel] [tinyint] NULL,
	[Duration] [int] NOT NULL,
	[CalculatedLoadForSession] [int] NOT NULL,
	[IsConfirmed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityTypes]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityTypes](
	[ActivityTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[IntensityFactor] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coaches]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coaches](
	[CoachID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CoachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoachRecommendations]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoachRecommendations](
	[RecID] [int] IDENTITY(1,1) NOT NULL,
	[CoachID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoachTrainees]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoachTrainees](
	[CoachID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[ConnectionDate] [date] NULL,
	[AllowNotifications] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CoachID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyLoad]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyLoad](
	[LoadID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Date] [date] NULL,
	[AcuteLoad] [float] NULL,
	[ChronicLoad] [float] NULL,
	[AC_Ratio] [float] NULL,
	[StressScore] [int] NULL,
	[LoadLevel] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InjuriesReports]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InjuriesReports](
	[InjuryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[InjuryTypeID] [int] NOT NULL,
	[Date] [date] NULL,
	[Severity] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[IsActiveInjury] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[InjuryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InjuryCategories]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InjuryCategories](
	[InjuryTypeID] [int] NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InjuryTypeID] ASC,
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InjuryTypes]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InjuryTypes](
	[InjuryTypeID] [int] IDENTITY(1,1) NOT NULL,
	[InjuryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InjuryTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoadParameters]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoadParameters](
	[ParamID] [int] IDENTITY(1,1) NOT NULL,
	[BeginnerDailyLoad] [smallint] NULL,
	[RegularDailyLoad] [smallint] NULL,
	[AdvanceDailyLoad] [smallint] NULL,
	[BeginnerAcuteLoad] [smallint] NULL,
	[RegularAcuteLoad] [smallint] NULL,
	[AdvanceAcuteLoad] [smallint] NULL,
	[LowLoadRatio] [float] NULL,
	[SafeZoneLowRange] [float] NULL,
	[SafeZoneHighRange] [float] NULL,
	[OverLoad] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ParamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderID] [int] NOT NULL,
	[ReceiverID] [int] NOT NULL,
	[Text] [nvarchar](1000) NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
	[IsSeen] [bit] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recommendations]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recommendations](
	[RecID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Date] [date] NULL,
	[LoadLevel] [nvarchar](20) NULL,
	[RecommendationText] [nvarchar](max) NULL,
	[Type] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingGoals]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingGoals](
	[GoalID] [int] IDENTITY(1,1) NOT NULL,
	[GoalName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GoalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserActivityPreferences]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActivityPreferences](
	[UserID] [int] NOT NULL,
	[ActivityTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ActivityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDevices]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDevices](
	[DeviceID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[DeviceName] [nvarchar](100) NULL,
	[LastSync] [datetime] NULL,
	[PermissionsGranted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[BirthYear] [int] NULL,
	[Gender] [nvarchar](20) NULL,
	[Height] [int] NULL,
	[Weight] [int] NULL,
	[ActivityLevel] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[DeviceType] [nvarchar](100) NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Password] [char](8) NULL,
	[ExperienceLevel] [tinyint] NULL,
	[BaseLineDailyLoad] [smallint] NULL,
	[BaseLineWeeklyLoad] [smallint] NULL,
	[HealthDeclaration] [bit] NULL,
	[ConfirmTerms] [bit] NULL,
	[TermConfirmationDate] [date] NULL,
	[ProfileImagePath] [nvarchar](300) NULL,
	[IsBaselineEstablished] [bit] NOT NULL,
	[BaselineEstablishedDate] [date] NULL,
	[IsCoach] [bit] NOT NULL,
	[GoogleId] [nvarchar](128) NULL,
	[IsTrainee] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTrainingGoals]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTrainingGoals](
	[UserID] [int] NOT NULL,
	[GoalID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[GoalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_Pair]    Script Date: 07/06/2026 00:36:46 ******/
CREATE NONCLUSTERED INDEX [IX_Messages_Pair] ON [dbo].[Messages]
(
	[SenderID] ASC,
	[ReceiverID] ASC,
	[SentAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_Unread]    Script Date: 07/06/2026 00:36:46 ******/
CREATE NONCLUSTERED INDEX [IX_Messages_Unread] ON [dbo].[Messages]
(
	[ReceiverID] ASC,
	[IsSeen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[ActivityTypes] ADD  DEFAULT ((1.0)) FOR [IntensityFactor]
GO
ALTER TABLE [dbo].[CoachTrainees] ADD  DEFAULT (getdate()) FOR [ConnectionDate]
GO
ALTER TABLE [dbo].[CoachTrainees] ADD  DEFAULT ((1)) FOR [AllowNotifications]
GO
ALTER TABLE [dbo].[InjuriesReports] ADD  DEFAULT ((1)) FOR [IsActiveInjury]
GO
ALTER TABLE [dbo].[Messages] ADD  CONSTRAINT [DF_Messages_SentAt]  DEFAULT (sysutcdatetime()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Messages] ADD  CONSTRAINT [DF_Messages_IsSeen]  DEFAULT ((0)) FOR [IsSeen]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [HealthDeclaration]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [ConfirmTerms]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsBaselineEstablished]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsCoach]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsTrainee]  DEFAULT ((1)) FOR [IsTrainee]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLogs_ActivityTypes] FOREIGN KEY([ActivityTypeID])
REFERENCES [dbo].[ActivityTypes] ([ActivityTypeID])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_ActivityLogs_ActivityTypes]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLogs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_ActivityLogs_Users]
GO
ALTER TABLE [dbo].[Coaches]  WITH CHECK ADD  CONSTRAINT [FK_Coaches_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Coaches] CHECK CONSTRAINT [FK_Coaches_Users]
GO
ALTER TABLE [dbo].[CoachRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_CoachRec_Coach] FOREIGN KEY([CoachID])
REFERENCES [dbo].[Coaches] ([CoachID])
GO
ALTER TABLE [dbo].[CoachRecommendations] CHECK CONSTRAINT [FK_CoachRec_Coach]
GO
ALTER TABLE [dbo].[CoachRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_CoachRec_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CoachRecommendations] CHECK CONSTRAINT [FK_CoachRec_User]
GO
ALTER TABLE [dbo].[CoachTrainees]  WITH CHECK ADD  CONSTRAINT [FK_CoachTrainees_Coaches] FOREIGN KEY([CoachID])
REFERENCES [dbo].[Coaches] ([CoachID])
GO
ALTER TABLE [dbo].[CoachTrainees] CHECK CONSTRAINT [FK_CoachTrainees_Coaches]
GO
ALTER TABLE [dbo].[CoachTrainees]  WITH CHECK ADD  CONSTRAINT [FK_CoachTrainees_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CoachTrainees] CHECK CONSTRAINT [FK_CoachTrainees_Users]
GO
ALTER TABLE [dbo].[DailyLoad]  WITH CHECK ADD  CONSTRAINT [FK_DailyLoad_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DailyLoad] CHECK CONSTRAINT [FK_DailyLoad_Users]
GO
ALTER TABLE [dbo].[InjuriesReports]  WITH CHECK ADD  CONSTRAINT [FK_InjuriesReports_InjuryTypes] FOREIGN KEY([InjuryTypeID])
REFERENCES [dbo].[InjuryTypes] ([InjuryTypeID])
GO
ALTER TABLE [dbo].[InjuriesReports] CHECK CONSTRAINT [FK_InjuriesReports_InjuryTypes]
GO
ALTER TABLE [dbo].[InjuriesReports]  WITH CHECK ADD  CONSTRAINT [FK_InjuriesReports_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InjuriesReports] CHECK CONSTRAINT [FK_InjuriesReports_Users]
GO
ALTER TABLE [dbo].[InjuryCategories]  WITH CHECK ADD  CONSTRAINT [FK_InjuryCategories_InjuryTypes] FOREIGN KEY([InjuryTypeID])
REFERENCES [dbo].[InjuryTypes] ([InjuryTypeID])
GO
ALTER TABLE [dbo].[InjuryCategories] CHECK CONSTRAINT [FK_InjuryCategories_InjuryTypes]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Receiver] FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Receiver]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Sender] FOREIGN KEY([SenderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Sender]
GO
ALTER TABLE [dbo].[Recommendations]  WITH CHECK ADD  CONSTRAINT [FK_Recommendations_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Recommendations] CHECK CONSTRAINT [FK_Recommendations_Users]
GO
ALTER TABLE [dbo].[UserActivityPreferences]  WITH CHECK ADD  CONSTRAINT [FK_UAP_ActivityTypes] FOREIGN KEY([ActivityTypeID])
REFERENCES [dbo].[ActivityTypes] ([ActivityTypeID])
GO
ALTER TABLE [dbo].[UserActivityPreferences] CHECK CONSTRAINT [FK_UAP_ActivityTypes]
GO
ALTER TABLE [dbo].[UserActivityPreferences]  WITH CHECK ADD  CONSTRAINT [FK_UAP_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserActivityPreferences] CHECK CONSTRAINT [FK_UAP_Users]
GO
ALTER TABLE [dbo].[UserDevices]  WITH CHECK ADD  CONSTRAINT [FK_UserDevices_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserDevices] CHECK CONSTRAINT [FK_UserDevices_Users]
GO
ALTER TABLE [dbo].[UserTrainingGoals]  WITH CHECK ADD  CONSTRAINT [FK_UTG_Goals] FOREIGN KEY([GoalID])
REFERENCES [dbo].[TrainingGoals] ([GoalID])
GO
ALTER TABLE [dbo].[UserTrainingGoals] CHECK CONSTRAINT [FK_UTG_Goals]
GO
ALTER TABLE [dbo].[UserTrainingGoals]  WITH CHECK ADD  CONSTRAINT [FK_UTG_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserTrainingGoals] CHECK CONSTRAINT [FK_UTG_Users]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUserActivityPreference]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* -------- Utility SPs for bridge tables -------- */

CREATE PROCEDURE [dbo].[sp_AddUserActivityPreference]
    @UserID INT,
    @ActivityTypeID INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM UserActivityPreferences WHERE UserID=@UserID AND ActivityTypeID=@ActivityTypeID)
        INSERT INTO UserActivityPreferences (UserID,ActivityTypeID) VALUES (@UserID,@ActivityTypeID);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUserTrainingGoal]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_AddUserTrainingGoal]
    @UserID INT,
    @GoalID INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM UserTrainingGoals WHERE UserID=@UserID AND GoalID=@GoalID)
        INSERT INTO UserTrainingGoals (UserID,GoalID) VALUES (@UserID,@GoalID);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConnectTraineeToCoach]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConnectTraineeToCoach]
    @CoachID INT,
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (
        SELECT 1 FROM CoachTrainees
        WHERE CoachID = @CoachID AND UserID = @UserID)
    BEGIN
        INSERT INTO CoachTrainees (CoachID, UserID, ConnectionDate, AllowNotifications)
        VALUES (@CoachID, @UserID, GETDATE(), 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteActivityLog]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3) Restore the hard-delete SP
CREATE   PROCEDURE [dbo].[sp_DeleteActivityLog]
    @ActivityID INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM ActivityLogs WHERE ActivityID = @ActivityID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCoach]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteCoach]
    @CoachID INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM CoachTrainees WHERE CoachID = @CoachID;
    DELETE FROM Coaches WHERE CoachID = @CoachID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DELETE FROM DailyLoad WHERE UserID = @UserID;
        DELETE FROM ActivityLogs WHERE UserID = @UserID;
        DELETE FROM UserActivityPreferences WHERE UserID = @UserID;
        DELETE FROM UserTrainingGoals WHERE UserID = @UserID;
        DELETE FROM UserDevices WHERE UserID = @UserID;
        DELETE FROM InjuriesReports WHERE UserID = @UserID;
        DELETE FROM Recommendations WHERE UserID = @UserID;
        DELETE FROM CoachRecommendations WHERE UserID = @UserID OR CoachID = @UserID;
        DELETE FROM CoachTrainees WHERE UserID = @UserID OR CoachID = @UserID;
        DELETE FROM Coaches WHERE UserID = @UserID;

        IF OBJECT_ID('dbo.Messages', 'U') IS NOT NULL
        BEGIN
            DELETE FROM Messages WHERE SenderID = @UserID OR ReceiverID = @UserID;
        END

        DELETE FROM Users WHERE UserID = @UserID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DisconnectTrainee]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DisconnectTrainee]
    @CoachID INT,
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM CoachTrainees
    WHERE CoachID = @CoachID AND UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActiveInjuriesByUser]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. sp_GetActiveInjuriesByUser
CREATE PROCEDURE [dbo].[sp_GetActiveInjuriesByUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ir.*, it.InjuryName
    FROM InjuriesReports ir
    LEFT JOIN InjuryTypes it ON ir.InjuryTypeID = it.InjuryTypeID
    WHERE ir.UserID = @UserID
      AND ir.IsActiveInjury = 1
    ORDER BY ir.Date DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActivityLogsByUser]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetActivityLogsByUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        ActivityID, UserID, ActivityTypeID, StartTime, EndTime,
        DistanceKM, AvgHeartRate, MaxHeartRate, CaloriesBurned,
        SourceDevice, ExertionLevel, Duration,
        CalculatedLoadForSession, IsConfirmed
    FROM ActivityLogs
    WHERE UserID = @UserID
    ORDER BY StartTime DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActivityLogsForLoad]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetActivityLogsForLoad]
    @UserID INT,
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SELECT * FROM ActivityLogs
    WHERE UserID = @UserID
      AND StartTime >= @StartDate
      AND StartTime <= @EndDate
    ORDER BY StartTime DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActivityTypes]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* -------- ActivityTypes SPs -------- */

CREATE PROCEDURE [dbo].[sp_GetAllActivityTypes]
AS
BEGIN
    SELECT * FROM ActivityTypes;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllInjuryTypes]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllInjuryTypes]
AS
BEGIN
    SELECT InjuryTypeID, InjuryName
    FROM InjuryTypes;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllTrainingGoals]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllTrainingGoals]
AS
BEGIN
    SELECT GoalID, GoalName
    FROM TrainingGoals;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsers]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetAllUsers]
AS
BEGIN
    SELECT * FROM Users;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCoachByID]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCoachByID]
    @CoachID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CoachID, FullName, Email
    FROM Coaches
    WHERE CoachID = @CoachID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCoachByUserID]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCoachByUserID]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT CoachID, UserID, FullName, Email
    FROM Coaches
    WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCoachesForTrainee]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6) sp_GetCoachesForTrainee — reverse link for the trainee-side entry ----
--    Returns the coach's Users row id (CoachUserID) so the trainee can chat.
CREATE   PROCEDURE [dbo].[sp_GetCoachesForTrainee]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT c.CoachID,
           c.UserID AS CoachUserID,
           u.FullName,
           u.Email,
           u.ProfileImagePath
    FROM dbo.CoachTrainees ct
    JOIN dbo.Coaches c ON ct.CoachID = c.CoachID
    JOIN dbo.Users  u ON c.UserID   = u.UserID
    WHERE ct.UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCoachRecommendationsByUser]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCoachRecommendationsByUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT RecID, CoachID, UserID, [Date], [Title], [Text]
    FROM CoachRecommendations
    WHERE UserID = @UserID
    ORDER BY [Date] DESC, RecID DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetConversation]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3) sp_GetConversation — full thread between two users, oldest first ----
CREATE   PROCEDURE [dbo].[sp_GetConversation]
    @UserA INT,
    @UserB INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MessageID, SenderID, ReceiverID, [Text], SentAt, IsSeen
    FROM dbo.Messages
    WHERE (SenderID = @UserA AND ReceiverID = @UserB)
       OR (SenderID = @UserB AND ReceiverID = @UserA)
    ORDER BY SentAt ASC, MessageID ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDailyLoadByUser]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* -------- SELECT SPs -------- */

CREATE PROCEDURE [dbo].[sp_GetDailyLoadByUser]
    @UserID INT
AS
BEGIN
    SELECT * FROM DailyLoad WHERE UserID=@UserID ORDER BY Date DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInjuriesByUser]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetInjuriesByUser]
    @UserID INT
AS
BEGIN
    SELECT ir.*, it.InjuryName
    FROM InjuriesReports ir
    LEFT JOIN InjuryTypes it ON ir.InjuryTypeID = it.InjuryTypeID
    WHERE ir.UserID=@UserID
    ORDER BY ir.Date DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLoadParameters]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLoadParameters]
AS
BEGIN
    SELECT TOP 1 * FROM LoadParameters;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRecommendationsByUser]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetRecommendationsByUser]
    @UserID INT
AS
BEGIN
    SELECT * FROM Recommendations WHERE UserID=@UserID ORDER BY Date DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTraineeDailyLoadForCoach]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTraineeDailyLoadForCoach]
    @CoachID INT,
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1
        FROM CoachTrainees
        WHERE CoachID = @CoachID AND UserID = @UserID
    )
    BEGIN
        RAISERROR('Coach is not assigned to this user', 16, 1);
        RETURN;
    END

    SELECT *
    FROM DailyLoad
    WHERE UserID = @UserID
    ORDER BY [Date] DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTraineesWithLoadByCoach]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetTraineesWithLoadByCoach]
    @CoachID INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH LatestLoad AS (
        SELECT dl.UserID,
               MAX(dl.Date) AS LastDate
        FROM DailyLoad dl
        GROUP BY dl.UserID
    )
    SELECT
        u.UserID,
        u.FullName,
        u.BirthYear,
        u.Gender,
        u.DeviceType,
        dl.Date       AS [Date],
        dl.AcuteLoad,
        dl.ChronicLoad,
        dl.AC_Ratio,
        dl.StressScore,
        dl.LoadLevel
    FROM CoachTrainees ct
    INNER JOIN Users u ON ct.UserID = u.UserID
    LEFT JOIN LatestLoad ll
        ON u.UserID = ll.UserID
    LEFT JOIN DailyLoad dl
        ON dl.UserID = ll.UserID
       AND dl.Date   = ll.LastDate
    WHERE ct.CoachID = @CoachID
    ORDER BY u.FullName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUnreadMessageCount]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5) sp_GetUnreadMessageCount — badge source -----------------------------
CREATE   PROCEDURE [dbo].[sp_GetUnreadMessageCount]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT COUNT(*) FROM dbo.Messages WHERE ReceiverID = @UserID AND IsSeen = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByID]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetUserByID]
    @UserID INT
AS
BEGIN
    SELECT * FROM Users WHERE UserID=@UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserDevices]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserDevices]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DeviceID, UserID, DeviceName, LastSync, PermissionsGranted
    FROM UserDevices
    WHERE UserID = @UserID
    ORDER BY DeviceID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserLoadContext]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserLoadContext]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- User baseline info
    SELECT
        u.UserID,
        u.ExperienceLevel,                 -- 1=Beginner, 2=Regular, 3=Advanced
        u.IsBaselineEstablished,           -- 0=bootstrap mode, 1=personal mode
        u.BaselineEstablishedDate,
        u.BaseLineDailyLoad,               -- personal daily baseline
        u.BaseLineWeeklyLoad,              -- personal weekly baseline
        -- LoadParameters thresholds (joined inline)
        lp.BeginnerDailyLoad,
        lp.RegularDailyLoad,
        lp.AdvanceDailyLoad,
        lp.BeginnerAcuteLoad,
        lp.RegularAcuteLoad,
        lp.AdvanceAcuteLoad,
        lp.LowLoadRatio,
        lp.SafeZoneLowRange,
        lp.SafeZoneHighRange,
        lp.OverLoad,
        -- Active injury flag
        CAST(
            CASE WHEN EXISTS (
                SELECT 1 FROM InjuriesReports
                WHERE UserID = @UserID AND IsActiveInjury = 1
            ) THEN 1 ELSE 0 END
        AS BIT) AS HasActiveInjury
    FROM Users u
    CROSS JOIN (SELECT TOP 1 * FROM LoadParameters) lp
    WHERE u.UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserSummary]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetUserSummary]
    @UserID INT
AS
BEGIN
    SELECT u.*, dl.Date AS LastLoadDate, dl.LoadLevel, dl.StressScore
    FROM Users u
    LEFT JOIN (
        SELECT UserID, MAX(Date) AS Date, LoadLevel, StressScore
        FROM DailyLoad
        WHERE UserID = @UserID
        GROUP BY UserID, LoadLevel, StressScore
    ) dl ON u.UserID = dl.UserID
    WHERE u.UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertActivityLog]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertActivityLog]
    @UserID INT, @ActivityTypeID INT,
    @StartTime DATETIME, @EndTime DATETIME,
    @DistanceKM FLOAT, @AvgHeartRate INT,
    @MaxHeartRate INT, @CaloriesBurned FLOAT,
    @SourceDevice NVARCHAR(100),
    @ExertionLevel TINYINT = NULL,
    @Duration SMALLINT = NULL,
    @CalculatedLoadForSession SMALLINT = NULL,
    @IsConfirmed BIT = 0
AS
BEGIN
    INSERT INTO ActivityLogs
    (UserID, ActivityTypeID, StartTime, EndTime, DistanceKM,
     AvgHeartRate, MaxHeartRate, CaloriesBurned, SourceDevice,
     ExertionLevel, Duration, CalculatedLoadForSession, IsConfirmed)
    VALUES
    (@UserID, @ActivityTypeID, @StartTime, @EndTime, @DistanceKM,
     @AvgHeartRate, @MaxHeartRate, @CaloriesBurned, @SourceDevice,
     @ExertionLevel, @Duration, @CalculatedLoadForSession, @IsConfirmed);
    SELECT SCOPE_IDENTITY() AS NewActivityID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertActivityType]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_InsertActivityType]
    @TypeName NVARCHAR(50)
AS
BEGIN
    INSERT INTO ActivityTypes (TypeName) VALUES (@TypeName);
    SELECT SCOPE_IDENTITY() AS NewActivityTypeID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCoach]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertCoach]
    @UserID INT,
    @FullName NVARCHAR(100),
    @Email NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Coaches (UserID, FullName, Email)
    VALUES (@UserID, @FullName, @Email);
    SELECT SCOPE_IDENTITY() AS CoachID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCoachRecommendation]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertCoachRecommendation]
    @CoachID INT,
    @UserID INT,
    @Date DATE,
    @Title NVARCHAR(200),
    @Text NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO CoachRecommendations (CoachID, UserID, [Date], [Title], [Text])
    VALUES (@CoachID, @UserID, @Date, @Title, @Text);

    SELECT SCOPE_IDENTITY() AS NewRecID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertInjuryReport]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertInjuryReport]
    @UserID INT, @InjuryTypeID INT,
    @Date DATE, @Severity INT,
    @Notes NVARCHAR(MAX),
    @IsActiveInjury BIT = 1
AS
BEGIN
    INSERT INTO InjuriesReports
    (UserID, InjuryTypeID, Date, Severity, Notes, IsActiveInjury)
    VALUES (@UserID, @InjuryTypeID, @Date, @Severity, @Notes, @IsActiveInjury);
    SELECT SCOPE_IDENTITY() AS NewInjuryID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertMessage]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2) sp_InsertMessage — insert + return the materialized row -------------
CREATE   PROCEDURE [dbo].[sp_InsertMessage]
    @SenderID   INT,
    @ReceiverID INT,
    @Text       NVARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Messages (SenderID, ReceiverID, [Text], SentAt, IsSeen)
    VALUES (@SenderID, @ReceiverID, @Text, SYSUTCDATETIME(), 0);

    SELECT MessageID, SenderID, ReceiverID, [Text], SentAt, IsSeen
    FROM dbo.Messages
    WHERE MessageID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertRecommendation]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* -------- Recommendations SPs -------- */

CREATE PROCEDURE [dbo].[sp_InsertRecommendation]
    @UserID INT,
    @Date DATE,
    @LoadLevel NVARCHAR(20),
    @RecommendationText NVARCHAR(MAX),
    @Type NVARCHAR(50)
AS
BEGIN
    INSERT INTO Recommendations (UserID,Date,LoadLevel,RecommendationText,Type)
    VALUES (@UserID,@Date,@LoadLevel,@RecommendationText,@Type);

    SELECT SCOPE_IDENTITY() AS NewRecID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUser]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertUser]
    @FullName NVARCHAR(100),
    @BirthYear INT,
    @Gender NVARCHAR(20),
    @Height INT,
    @Weight INT,
    @ActivityLevel INT,
    @DeviceType NVARCHAR(100),
    @UserName NVARCHAR(50),
    @Email NVARCHAR(255),
    @Password CHAR(8),
    @ExperienceLevel TINYINT,
    @HealthDeclaration BIT,
    @ConfirmTerms BIT,
    @TermConfirmationDate DATE,
    @IsCoach BIT,
    @IsTrainee BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Users (FullName, BirthYear, Gender, Height, Weight,
        ActivityLevel, DeviceType, UserName, Email, Password,
        ExperienceLevel, HealthDeclaration, ConfirmTerms,
        TermConfirmationDate, IsBaselineEstablished, IsCoach, IsTrainee, CreatedAt)
    VALUES (@FullName, @BirthYear, @Gender, @Height, @Weight,
        @ActivityLevel, @DeviceType, @UserName, @Email, @Password,
        @ExperienceLevel, @HealthDeclaration, @ConfirmTerms,
        @TermConfirmationDate, 0, @IsCoach, @IsTrainee, GETDATE());
    SELECT SCOPE_IDENTITY() AS UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUserDevice]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUserDevice]
    @UserID INT,
    @DeviceName NVARCHAR(100),
    @LastSync DATETIME,
    @PermissionsGranted BIT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO UserDevices (UserID, DeviceName, LastSync, PermissionsGranted)
    VALUES (@UserID, @DeviceName, @LastSync, @PermissionsGranted);

    SELECT SCOPE_IDENTITY() AS NewDeviceID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginOrCreateGoogleUser]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_LoginOrCreateGoogleUser]
    @GoogleId  NVARCHAR(128),
    @Email     NVARCHAR(255),
    @FullName  NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    -- If user already exists by GoogleId, return them
    IF EXISTS (SELECT 1 FROM Users WHERE GoogleId = @GoogleId)
    BEGIN
        SELECT * FROM Users WHERE GoogleId = @GoogleId;
        RETURN;
    END

    -- If email matches an existing account (user is linking Google to existing account)
    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
    BEGIN
        UPDATE Users SET GoogleId = @GoogleId WHERE Email = @Email;
        SELECT * FROM Users WHERE Email = @Email;
        RETURN;
    END

    -- New user — create a stub account
    INSERT INTO Users (
        FullName, BirthYear, Gender, Height, Weight,
        ActivityLevel, DeviceType, UserName, Email, Password,
        ExperienceLevel, HealthDeclaration, ConfirmTerms,
        TermConfirmationDate, IsCoach, GoogleId, CreatedAt,
        IsBaselineEstablished, BaseLineDailyLoad, BaseLineWeeklyLoad
    )
    VALUES (
        @FullName, 2000, 'Other', 170, 70,
        1, 'android', @Email, @Email, '',
        1, 1, 1,
        GETDATE(), 0, @GoogleId, GETDATE(),
        0, 0, 0
    );

    SELECT * FROM Users WHERE UserID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LoginUser]
    @Email    NVARCHAR(255),
    @Password CHAR(8)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT UserID, FullName, BirthYear, Gender, Height, Weight,
           ActivityLevel, CreatedAt, DeviceType, ProfileImagePath,
           UserName, Email, ExperienceLevel, BaseLineDailyLoad,
           BaseLineWeeklyLoad, IsBaselineEstablished, BaselineEstablishedDate,
           HealthDeclaration, ConfirmTerms, TermConfirmationDate, IsCoach, IsTrainee
    FROM Users
    WHERE Email = @Email
      AND Password = @Password COLLATE Latin1_General_CS_AS;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MarkInjuryRecovered]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MarkInjuryRecovered]
    @InjuryID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE InjuriesReports
    SET IsActiveInjury = 0
    WHERE InjuryID = @InjuryID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MarkMessagesSeen]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4) sp_MarkMessagesSeen — receiver opened the chat ----------------------
CREATE   PROCEDURE [dbo].[sp_MarkMessagesSeen]
    @SenderID   INT,
    @ReceiverID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Messages
    SET IsSeen = 1
    WHERE SenderID = @SenderID AND ReceiverID = @ReceiverID AND IsSeen = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveUserActivityPreference]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_RemoveUserActivityPreference]
    @UserID INT,
    @ActivityTypeID INT
AS
BEGIN
    DELETE FROM UserActivityPreferences WHERE UserID=@UserID AND ActivityTypeID=@ActivityTypeID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveUserTrainingGoal]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_RemoveUserTrainingGoal]
    @UserID INT,
    @GoalID INT
AS
BEGIN
    DELETE FROM UserTrainingGoals WHERE UserID=@UserID AND GoalID=@GoalID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveDailyLoad]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SaveDailyLoad]
    @UserID                INT,
    @Date                  DATE,
    @AcuteLoad             FLOAT,
    @ChronicLoad           FLOAT,
    @AC_Ratio              FLOAT,
    @StressScore           INT,
    @LoadLevel             NVARCHAR(20),
    @BaseLineDailyLoad     SMALLINT = NULL,
    @BaseLineWeeklyLoad    SMALLINT = NULL,
    @IsBaselineEstablished BIT      = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Save or update the DailyLoad record
    IF EXISTS (SELECT 1 FROM DailyLoad WHERE UserID = @UserID AND Date = @Date)
    BEGIN
        UPDATE DailyLoad
        SET AcuteLoad   = @AcuteLoad,
            ChronicLoad = @ChronicLoad,
            AC_Ratio    = @AC_Ratio,
            StressScore = @StressScore,
            LoadLevel   = @LoadLevel
        WHERE UserID = @UserID AND Date = @Date;
    END
    ELSE
    BEGIN
        INSERT INTO DailyLoad
            (UserID, Date, AcuteLoad, ChronicLoad, AC_Ratio, StressScore, LoadLevel)
        VALUES
            (@UserID, @Date, @AcuteLoad, @ChronicLoad, @AC_Ratio, @StressScore, @LoadLevel);
    END

    -- If C# has established the baseline, update Users table
    IF @IsBaselineEstablished = 1
       AND @BaseLineDailyLoad IS NOT NULL
       AND @BaseLineWeeklyLoad IS NOT NULL
    BEGIN
        UPDATE Users
        SET BaseLineDailyLoad       = @BaseLineDailyLoad,
            BaseLineWeeklyLoad      = @BaseLineWeeklyLoad,
            IsBaselineEstablished   = 1,
            BaselineEstablishedDate = @Date
        WHERE UserID = @UserID
          AND IsBaselineEstablished = 0;
    END

    -- Return the saved record to C# for confirmation
    SELECT *
    FROM DailyLoad
    WHERE UserID = @UserID AND Date = @Date;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateActivityLog]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateActivityLog]
    @ActivityID INT,
    @ActivityTypeID INT,
    @StartTime DATETIME,
    @EndTime DATETIME,
    @DistanceKM FLOAT,
    @AvgHeartRate INT = NULL,
    @MaxHeartRate INT = NULL,
    @CaloriesBurned FLOAT = NULL,
    @SourceDevice NVARCHAR(100),
    @ExertionLevel TINYINT,
    @Duration SMALLINT,
    @CalculatedLoadForSession SMALLINT,
    @IsConfirmed BIT
AS
BEGIN
    UPDATE ActivityLogs SET
        ActivityTypeID = @ActivityTypeID,
        StartTime = @StartTime,
        EndTime = @EndTime,
        DistanceKM = @DistanceKM,
        AvgHeartRate = @AvgHeartRate,
        MaxHeartRate = @MaxHeartRate,
        CaloriesBurned = @CaloriesBurned,
        SourceDevice = @SourceDevice,
        ExertionLevel = @ExertionLevel,
        Duration = @Duration,
        CalculatedLoadForSession = @CalculatedLoadForSession,
        IsConfirmed = @IsConfirmed
    WHERE ActivityID = @ActivityID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- 3. sp_UpdateUser — add all new Users fields
-- ============================================================

CREATE PROCEDURE [dbo].[sp_UpdateUser]
    @UserID          INT,
    @FullName        NVARCHAR(100),
    @BirthYear       INT,
    @Gender          NVARCHAR(20),
    @Height          INT,
    @Weight          INT,
    @ActivityLevel   INT,
    @DeviceType      NVARCHAR(100),
    @UserName        NVARCHAR(50)  = NULL,
    @Email           NVARCHAR(255) = NULL,
    @ExperienceLevel TINYINT       = NULL,
    @HealthDeclaration BIT         = NULL,
    @ConfirmTerms    BIT           = NULL,
    @TermConfirmationDate DATE     = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET FullName              = @FullName,
        BirthYear             = @BirthYear,
        Gender                = @Gender,
        Height                = @Height,
        Weight                = @Weight,
        ActivityLevel         = @ActivityLevel,
        DeviceType            = @DeviceType,
        UserName              = @UserName,
        Email                 = @Email,
        ExperienceLevel       = @ExperienceLevel,
        HealthDeclaration     = @HealthDeclaration,
        ConfirmTerms          = @ConfirmTerms,
        TermConfirmationDate  = @TermConfirmationDate
    WHERE UserID = @UserID;

    -- Return updated user to C#
    SELECT * FROM Users WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserBaseline]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. sp_UpdateUserBaseline
CREATE PROCEDURE [dbo].[sp_UpdateUserBaseline]
    @UserID             INT,
    @BaseLineDailyLoad  SMALLINT,
    @BaseLineWeeklyLoad SMALLINT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Users
    SET BaseLineDailyLoad     = @BaseLineDailyLoad,
        BaseLineWeeklyLoad    = @BaseLineWeeklyLoad,
        IsBaselineEstablished = 1,
        BaselineEstablishedDate = CAST(GETDATE() AS DATE)
    WHERE UserID = @UserID
      AND IsBaselineEstablished = 0;

    SELECT UserID, BaseLineDailyLoad, BaseLineWeeklyLoad,
           IsBaselineEstablished, BaselineEstablishedDate
    FROM Users WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserDevice]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUserDevice]
    @DeviceID INT,
    @LastSync DATETIME,
    @PermissionsGranted BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE UserDevices
    SET LastSync = @LastSync,
        PermissionsGranted = @PermissionsGranted
    WHERE DeviceID = @DeviceID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserProfileImage]    Script Date: 07/06/2026 00:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Step 2: NOW create the SP (will work because column exists)
CREATE PROCEDURE [dbo].[sp_UpdateUserProfileImage]
    @UserID INT,
    @ProfileImagePath NVARCHAR(300)
AS
BEGIN
    UPDATE Users
    SET ProfileImagePath = @ProfileImagePath
    WHERE UserID = @UserID;

    SELECT @UserID AS UserID, @ProfileImagePath AS ProfileImagePath;
END
GO
USE [master]
GO
