USE [master]
GO
/****** Object:  Database [TrainWiseV2]    Script Date: 10/06/2026 09:23:09 ******/
CREATE DATABASE [TrainWiseV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainWise', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrainWise.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainWise_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrainWise_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainWiseV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainWiseV2]
GO
USE [TrainWiseV2]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 10/06/2026 09:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[ActivityID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ActivityTypeID] [int] NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[DistanceKM] [float] NULL,
	[AvgHeartRate] [int] NULL,
	[MaxHeartRate] [int] NULL,
	[CaloriesBurned] [float] NULL,
	[SourceDevice] [nvarchar](100) NULL,
	[ExertionLevel] [tinyint] NULL,
	[Duration] [int] NOT NULL,
	[CalculatedLoadForSession] [int] NOT NULL,
	[IsConfirmed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityTypes]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityTypes](
	[ActivityTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[IntensityFactor] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coaches]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coaches](
	[CoachID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CoachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoachOffers]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoachOffers](
	[OfferID] [int] IDENTITY(1,1) NOT NULL,
	[CoachUserID] [int] NOT NULL,
	[TraineeUserID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RespondedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_CoachOffers] PRIMARY KEY CLUSTERED 
(
	[OfferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoachRecommendations]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoachRecommendations](
	[RecID] [int] IDENTITY(1,1) NOT NULL,
	[CoachID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoachTrainees]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoachTrainees](
	[CoachID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[ConnectionDate] [date] NULL,
	[AllowNotifications] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CoachID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyLoad]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyLoad](
	[LoadID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Date] [date] NULL,
	[AcuteLoad] [float] NULL,
	[ChronicLoad] [float] NULL,
	[AC_Ratio] [float] NULL,
	[StressScore] [int] NULL,
	[LoadLevel] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friendships]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friendships](
	[FriendshipID] [int] IDENTITY(1,1) NOT NULL,
	[RequesterID] [int] NOT NULL,
	[AddresseeID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RespondedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Friendships] PRIMARY KEY CLUSTERED 
(
	[FriendshipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GymCoaches]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GymCoaches](
	[GymCoachID] [int] IDENTITY(1,1) NOT NULL,
	[GymID] [int] NOT NULL,
	[CoachUserID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GymCoaches] PRIMARY KEY CLUSTERED 
(
	[GymCoachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gyms]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gyms](
	[GymID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](250) NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Rating] [decimal](2, 1) NULL,
	[Phone] [nvarchar](40) NULL,
	[PhotoPath] [nvarchar](300) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[City] [nvarchar](80) NULL,
 CONSTRAINT [PK_Gyms] PRIMARY KEY CLUSTERED 
(
	[GymID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InjuriesReports]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InjuriesReports](
	[InjuryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[InjuryTypeID] [int] NOT NULL,
	[Date] [date] NULL,
	[Severity] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[IsActiveInjury] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[InjuryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InjuryCategories]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InjuryCategories](
	[InjuryTypeID] [int] NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InjuryTypeID] ASC,
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InjuryTypes]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InjuryTypes](
	[InjuryTypeID] [int] IDENTITY(1,1) NOT NULL,
	[InjuryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InjuryTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoadParameters]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoadParameters](
	[ParamID] [int] IDENTITY(1,1) NOT NULL,
	[BeginnerDailyLoad] [smallint] NULL,
	[RegularDailyLoad] [smallint] NULL,
	[AdvanceDailyLoad] [smallint] NULL,
	[BeginnerAcuteLoad] [smallint] NULL,
	[RegularAcuteLoad] [smallint] NULL,
	[AdvanceAcuteLoad] [smallint] NULL,
	[LowLoadRatio] [float] NULL,
	[SafeZoneLowRange] [float] NULL,
	[SafeZoneHighRange] [float] NULL,
	[OverLoad] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ParamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderID] [int] NOT NULL,
	[ReceiverID] [int] NOT NULL,
	[Text] [nvarchar](1000) NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
	[IsSeen] [bit] NOT NULL,
	[ImagePath] [nvarchar](300) NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recommendations]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recommendations](
	[RecID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Date] [date] NULL,
	[LoadLevel] [nvarchar](20) NULL,
	[RecommendationText] [nvarchar](max) NULL,
	[Type] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingGoals]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingGoals](
	[GoalID] [int] IDENTITY(1,1) NOT NULL,
	[GoalName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GoalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserActivityPreferences]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActivityPreferences](
	[UserID] [int] NOT NULL,
	[ActivityTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ActivityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDevices]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDevices](
	[DeviceID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[DeviceName] [nvarchar](100) NULL,
	[LastSync] [datetime] NULL,
	[PermissionsGranted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[BirthYear] [int] NULL,
	[Gender] [nvarchar](20) NULL,
	[Height] [int] NULL,
	[Weight] [int] NULL,
	[ActivityLevel] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[DeviceType] [nvarchar](100) NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Password] [char](8) NULL,
	[ExperienceLevel] [tinyint] NULL,
	[BaseLineDailyLoad] [smallint] NULL,
	[BaseLineWeeklyLoad] [smallint] NULL,
	[HealthDeclaration] [bit] NULL,
	[ConfirmTerms] [bit] NULL,
	[TermConfirmationDate] [date] NULL,
	[ProfileImagePath] [nvarchar](300) NULL,
	[IsBaselineEstablished] [bit] NOT NULL,
	[BaselineEstablishedDate] [date] NULL,
	[IsCoach] [bit] NOT NULL,
	[GoogleId] [nvarchar](128) NULL,
	[IsTrainee] [bit] NOT NULL,
	[LastSeen] [datetime2](7) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTrainingGoals]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTrainingGoals](
	[UserID] [int] NOT NULL,
	[GoalID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[GoalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] ON 

INSERT [dbo].[ActivityLogs] ([ActivityID], [UserID], [ActivityTypeID], [StartTime], [EndTime], [DistanceKM], [AvgHeartRate], [MaxHeartRate], [CaloriesBurned], [SourceDevice], [ExertionLevel], [Duration], [CalculatedLoadForSession], [IsConfirmed]) VALUES (1, 1, 1, CAST(N'2026-06-07T06:34:09.167' AS DateTime), CAST(N'2026-06-07T06:59:09.167' AS DateTime), 7, 0, 0, 0, N'Manual', 3, 25, 75, 1)
INSERT [dbo].[ActivityLogs] ([ActivityID], [UserID], [ActivityTypeID], [StartTime], [EndTime], [DistanceKM], [AvgHeartRate], [MaxHeartRate], [CaloriesBurned], [SourceDevice], [ExertionLevel], [Duration], [CalculatedLoadForSession], [IsConfirmed]) VALUES (4, 3, 2, CAST(N'2026-06-07T16:28:55.753' AS DateTime), CAST(N'2026-06-07T16:53:55.753' AS DateTime), 5, 0, 0, 0, N'Manual', 3, 25, 75, 1)
INSERT [dbo].[ActivityLogs] ([ActivityID], [UserID], [ActivityTypeID], [StartTime], [EndTime], [DistanceKM], [AvgHeartRate], [MaxHeartRate], [CaloriesBurned], [SourceDevice], [ExertionLevel], [Duration], [CalculatedLoadForSession], [IsConfirmed]) VALUES (6, 4, 1, CAST(N'2026-06-07T21:49:16.760' AS DateTime), CAST(N'2026-06-07T22:34:16.760' AS DateTime), 0, 0, 0, 0, N'Seed', 6, 45, 270, 1)
SET IDENTITY_INSERT [dbo].[ActivityLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[ActivityTypes] ON 

INSERT [dbo].[ActivityTypes] ([ActivityTypeID], [TypeName], [IntensityFactor]) VALUES (1, N'Running', CAST(1.30 AS Decimal(5, 2)))
INSERT [dbo].[ActivityTypes] ([ActivityTypeID], [TypeName], [IntensityFactor]) VALUES (2, N'Walking', CAST(0.80 AS Decimal(5, 2)))
INSERT [dbo].[ActivityTypes] ([ActivityTypeID], [TypeName], [IntensityFactor]) VALUES (3, N'Cycling', CAST(1.20 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[ActivityTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Coaches] ON 

INSERT [dbo].[Coaches] ([CoachID], [FullName], [Email], [UserID]) VALUES (1, N'Lili', N'liliouak@gmail.com', 2)
INSERT [dbo].[Coaches] ([CoachID], [FullName], [Email], [UserID]) VALUES (2, N'Lopp', N'lopp2304@gmail.com', 3)
INSERT [dbo].[Coaches] ([CoachID], [FullName], [Email], [UserID]) VALUES (3, N'Avi Shapiro', N'avi.shapiro@trainwise.demo', 10)
SET IDENTITY_INSERT [dbo].[Coaches] OFF
GO
SET IDENTITY_INSERT [dbo].[CoachOffers] ON 

INSERT [dbo].[CoachOffers] ([OfferID], [CoachUserID], [TraineeUserID], [Status], [CreatedAt], [RespondedAt]) VALUES (1, 2, 8, N'pending', CAST(N'2026-06-08T19:02:35.0344052' AS DateTime2), NULL)
INSERT [dbo].[CoachOffers] ([OfferID], [CoachUserID], [TraineeUserID], [Status], [CreatedAt], [RespondedAt]) VALUES (2, 3, 1, N'accepted', CAST(N'2026-06-09T08:58:51.5757691' AS DateTime2), CAST(N'2026-06-09T20:06:11.8805039' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CoachOffers] OFF
GO
SET IDENTITY_INSERT [dbo].[CoachRecommendations] ON 

INSERT [dbo].[CoachRecommendations] ([RecID], [CoachID], [UserID], [Date], [Title], [Text]) VALUES (1, 2, 1, CAST(N'2026-06-07' AS Date), N'Too much', N'Calm down men')
INSERT [dbo].[CoachRecommendations] ([RecID], [CoachID], [UserID], [Date], [Title], [Text]) VALUES (2, 1, 1, CAST(N'2026-06-07' AS Date), N'Test01', N'Test010101')
INSERT [dbo].[CoachRecommendations] ([RecID], [CoachID], [UserID], [Date], [Title], [Text]) VALUES (3, 2, 1, CAST(N'2026-06-07' AS Date), N'Goo jonny', N'Hi')
SET IDENTITY_INSERT [dbo].[CoachRecommendations] OFF
GO
INSERT [dbo].[CoachTrainees] ([CoachID], [UserID], [ConnectionDate], [AllowNotifications]) VALUES (1, 1, CAST(N'2026-06-07' AS Date), 1)
INSERT [dbo].[CoachTrainees] ([CoachID], [UserID], [ConnectionDate], [AllowNotifications]) VALUES (2, 1, CAST(N'2026-06-07' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[DailyLoad] ON 

INSERT [dbo].[DailyLoad] ([LoadID], [UserID], [Date], [AcuteLoad], [ChronicLoad], [AC_Ratio], [StressScore], [LoadLevel]) VALUES (1, 1, CAST(N'2026-06-07' AS Date), 75, 150, 0.5, 25, N'Green')
INSERT [dbo].[DailyLoad] ([LoadID], [UserID], [Date], [AcuteLoad], [ChronicLoad], [AC_Ratio], [StressScore], [LoadLevel]) VALUES (2, 1, CAST(N'2026-06-05' AS Date), 0, 150, 0, 0, N'Green')
INSERT [dbo].[DailyLoad] ([LoadID], [UserID], [Date], [AcuteLoad], [ChronicLoad], [AC_Ratio], [StressScore], [LoadLevel]) VALUES (3, 1, CAST(N'2026-06-03' AS Date), 0, 150, 0, 0, N'Green')
SET IDENTITY_INSERT [dbo].[DailyLoad] OFF
GO
SET IDENTITY_INSERT [dbo].[Friendships] ON 

INSERT [dbo].[Friendships] ([FriendshipID], [RequesterID], [AddresseeID], [Status], [CreatedAt], [RespondedAt]) VALUES (1, 2, 11, N'pending', CAST(N'2026-06-08T19:11:17.8305997' AS DateTime2), NULL)
INSERT [dbo].[Friendships] ([FriendshipID], [RequesterID], [AddresseeID], [Status], [CreatedAt], [RespondedAt]) VALUES (4, 3, 1, N'accepted', CAST(N'2026-06-09T08:58:53.2618154' AS DateTime2), CAST(N'2026-06-09T20:06:12.4645311' AS DateTime2))
INSERT [dbo].[Friendships] ([FriendshipID], [RequesterID], [AddresseeID], [Status], [CreatedAt], [RespondedAt]) VALUES (5, 3, 9, N'accepted', CAST(N'2026-06-09T09:07:52.5782296' AS DateTime2), CAST(N'2026-06-09T09:10:41.7427772' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Friendships] OFF
GO
SET IDENTITY_INSERT [dbo].[GymCoaches] ON 

INSERT [dbo].[GymCoaches] ([GymCoachID], [GymID], [CoachUserID], [CreatedAt]) VALUES (20, 17, 10, CAST(N'2026-06-08T21:57:22.5467586' AS DateTime2))
INSERT [dbo].[GymCoaches] ([GymCoachID], [GymID], [CoachUserID], [CreatedAt]) VALUES (21, 15, 10, CAST(N'2026-06-08T21:57:22.5467586' AS DateTime2))
INSERT [dbo].[GymCoaches] ([GymCoachID], [GymID], [CoachUserID], [CreatedAt]) VALUES (22, 19, 10, CAST(N'2026-06-08T21:57:22.5467586' AS DateTime2))
SET IDENTITY_INSERT [dbo].[GymCoaches] OFF
GO
SET IDENTITY_INSERT [dbo].[Gyms] ON 

INSERT [dbo].[Gyms] ([GymID], [Name], [Address], [Latitude], [Longitude], [Description], [Rating], [Phone], [PhotoPath], [CreatedAt], [City]) VALUES (15, N'Profit Gym', N'Sderot Oved Ben Ami 1, Netanya, Israel', 32.3178473, 34.8463531, N'Central Netanya gym with free weights, machines and classes.', CAST(3.8 AS Decimal(2, 1)), N'09-772-3421', NULL, CAST(N'2026-06-08T21:57:22.5306587' AS DateTime2), N'Netanya')
INSERT [dbo].[Gyms] ([GymID], [Name], [Address], [Latitude], [Longitude], [Description], [Rating], [Phone], [PhotoPath], [CreatedAt], [City]) VALUES (16, N'G 24/7', N'Herzl St 5, Netanya, Israel', 32.3299633, 34.8534812, N'24/7 gym on Herzl St with cardio, weights and a functional area.', CAST(5.0 AS Decimal(2, 1)), N'054-484-6766', NULL, CAST(N'2026-06-08T21:57:22.5306587' AS DateTime2), N'Netanya')
INSERT [dbo].[Gyms] ([GymID], [Name], [Address], [Latitude], [Longitude], [Description], [Rating], [Phone], [PhotoPath], [CreatedAt], [City]) VALUES (17, N'Holmes Place Natanya', N'Herzl St 60, Netanya, Israel', 32.3254155, 34.8613246, N'Premium health club in Kanyon HaSharon with pool and classes.', CAST(4.0 AS Decimal(2, 1)), N'09-862-4445', NULL, CAST(N'2026-06-08T21:57:22.5306587' AS DateTime2), N'Netanya')
SET IDENTITY_INSERT [dbo].[Gyms] OFF
GO
INSERT [dbo].[InjuryCategories] ([InjuryTypeID], [CategoryName]) VALUES (1, N'Overload')
INSERT [dbo].[InjuryCategories] ([InjuryTypeID], [CategoryName]) VALUES (2, N'Running-related')
INSERT [dbo].[InjuryCategories] ([InjuryTypeID], [CategoryName]) VALUES (3, N'Posture-related')
GO
SET IDENTITY_INSERT [dbo].[InjuryTypes] ON 

INSERT [dbo].[InjuryTypes] ([InjuryTypeID], [InjuryName]) VALUES (1, N'Knee Pain')
INSERT [dbo].[InjuryTypes] ([InjuryTypeID], [InjuryName]) VALUES (2, N'Shin Splints')
INSERT [dbo].[InjuryTypes] ([InjuryTypeID], [InjuryName]) VALUES (3, N'Lower Back Pain')
SET IDENTITY_INSERT [dbo].[InjuryTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[LoadParameters] ON 

INSERT [dbo].[LoadParameters] ([ParamID], [BeginnerDailyLoad], [RegularDailyLoad], [AdvanceDailyLoad], [BeginnerAcuteLoad], [RegularAcuteLoad], [AdvanceAcuteLoad], [LowLoadRatio], [SafeZoneLowRange], [SafeZoneHighRange], [OverLoad]) VALUES (1, 200, 350, 500, 150, 280, 420, 0.8, 0.8, 1.3, 1.5)
SET IDENTITY_INSERT [dbo].[LoadParameters] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [SenderID], [ReceiverID], [Text], [SentAt], [IsSeen], [ImagePath]) VALUES (1, 1, 2, N'Hi coach !', CAST(N'2026-06-07T07:09:11.9482725' AS DateTime2), 1, NULL)
INSERT [dbo].[Messages] ([MessageID], [SenderID], [ReceiverID], [Text], [SentAt], [IsSeen], [ImagePath]) VALUES (2, 1, 2, N'', CAST(N'2026-06-07T13:48:33.7579071' AS DateTime2), 1, N'/images/chat_639164369136894741.jpeg')
INSERT [dbo].[Messages] ([MessageID], [SenderID], [ReceiverID], [Text], [SentAt], [IsSeen], [ImagePath]) VALUES (3, 2, 1, N'Hey', CAST(N'2026-06-07T14:54:29.0219775' AS DateTime2), 1, NULL)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingGoals] ON 

INSERT [dbo].[TrainingGoals] ([GoalID], [GoalName]) VALUES (1, N'Weight Loss')
INSERT [dbo].[TrainingGoals] ([GoalID], [GoalName]) VALUES (2, N'Improve Endurance')
INSERT [dbo].[TrainingGoals] ([GoalID], [GoalName]) VALUES (3, N'Build Muscle')
SET IDENTITY_INSERT [dbo].[TrainingGoals] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_CoachOffers]    Script Date: 10/06/2026 09:23:10 ******/
ALTER TABLE [dbo].[CoachOffers] ADD  CONSTRAINT [UQ_CoachOffers] UNIQUE NONCLUSTERED 
(
	[CoachUserID] ASC,
	[TraineeUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Friendships_Addressee]    Script Date: 10/06/2026 09:23:10 ******/
CREATE NONCLUSTERED INDEX [IX_Friendships_Addressee] ON [dbo].[Friendships]
(
	[AddresseeID] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Friendships_Requester]    Script Date: 10/06/2026 09:23:10 ******/
CREATE NONCLUSTERED INDEX [IX_Friendships_Requester] ON [dbo].[Friendships]
(
	[RequesterID] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_GymCoaches]    Script Date: 10/06/2026 09:23:10 ******/
ALTER TABLE [dbo].[GymCoaches] ADD  CONSTRAINT [UQ_GymCoaches] UNIQUE NONCLUSTERED 
(
	[GymID] ASC,
	[CoachUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_Pair]    Script Date: 10/06/2026 09:23:10 ******/
CREATE NONCLUSTERED INDEX [IX_Messages_Pair] ON [dbo].[Messages]
(
	[SenderID] ASC,
	[ReceiverID] ASC,
	[SentAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_Unread]    Script Date: 10/06/2026 09:23:10 ******/
CREATE NONCLUSTERED INDEX [IX_Messages_Unread] ON [dbo].[Messages]
(
	[ReceiverID] ASC,
	[IsSeen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[ActivityTypes] ADD  DEFAULT ((1.0)) FOR [IntensityFactor]
GO
ALTER TABLE [dbo].[CoachOffers] ADD  CONSTRAINT [DF_CoachOffers_Status]  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[CoachOffers] ADD  CONSTRAINT [DF_CoachOffers_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CoachTrainees] ADD  DEFAULT (getdate()) FOR [ConnectionDate]
GO
ALTER TABLE [dbo].[CoachTrainees] ADD  DEFAULT ((1)) FOR [AllowNotifications]
GO
ALTER TABLE [dbo].[Friendships] ADD  CONSTRAINT [DF_Friendships_Status]  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[Friendships] ADD  CONSTRAINT [DF_Friendships_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GymCoaches] ADD  CONSTRAINT [DF_GymCoaches_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Gyms] ADD  CONSTRAINT [DF_Gyms_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InjuriesReports] ADD  DEFAULT ((1)) FOR [IsActiveInjury]
GO
ALTER TABLE [dbo].[Messages] ADD  CONSTRAINT [DF_Messages_SentAt]  DEFAULT (sysutcdatetime()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Messages] ADD  CONSTRAINT [DF_Messages_IsSeen]  DEFAULT ((0)) FOR [IsSeen]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [HealthDeclaration]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [ConfirmTerms]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsBaselineEstablished]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsCoach]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsTrainee]  DEFAULT ((1)) FOR [IsTrainee]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLogs_ActivityTypes] FOREIGN KEY([ActivityTypeID])
REFERENCES [dbo].[ActivityTypes] ([ActivityTypeID])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_ActivityLogs_ActivityTypes]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLogs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_ActivityLogs_Users]
GO
ALTER TABLE [dbo].[Coaches]  WITH CHECK ADD  CONSTRAINT [FK_Coaches_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Coaches] CHECK CONSTRAINT [FK_Coaches_Users]
GO
ALTER TABLE [dbo].[CoachOffers]  WITH CHECK ADD  CONSTRAINT [FK_CoachOffers_Coach] FOREIGN KEY([CoachUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CoachOffers] CHECK CONSTRAINT [FK_CoachOffers_Coach]
GO
ALTER TABLE [dbo].[CoachOffers]  WITH CHECK ADD  CONSTRAINT [FK_CoachOffers_Trainee] FOREIGN KEY([TraineeUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CoachOffers] CHECK CONSTRAINT [FK_CoachOffers_Trainee]
GO
ALTER TABLE [dbo].[CoachRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_CoachRec_Coach] FOREIGN KEY([CoachID])
REFERENCES [dbo].[Coaches] ([CoachID])
GO
ALTER TABLE [dbo].[CoachRecommendations] CHECK CONSTRAINT [FK_CoachRec_Coach]
GO
ALTER TABLE [dbo].[CoachRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_CoachRec_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CoachRecommendations] CHECK CONSTRAINT [FK_CoachRec_User]
GO
ALTER TABLE [dbo].[CoachTrainees]  WITH CHECK ADD  CONSTRAINT [FK_CoachTrainees_Coaches] FOREIGN KEY([CoachID])
REFERENCES [dbo].[Coaches] ([CoachID])
GO
ALTER TABLE [dbo].[CoachTrainees] CHECK CONSTRAINT [FK_CoachTrainees_Coaches]
GO
ALTER TABLE [dbo].[CoachTrainees]  WITH CHECK ADD  CONSTRAINT [FK_CoachTrainees_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CoachTrainees] CHECK CONSTRAINT [FK_CoachTrainees_Users]
GO
ALTER TABLE [dbo].[DailyLoad]  WITH CHECK ADD  CONSTRAINT [FK_DailyLoad_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DailyLoad] CHECK CONSTRAINT [FK_DailyLoad_Users]
GO
ALTER TABLE [dbo].[Friendships]  WITH CHECK ADD  CONSTRAINT [FK_Friendships_Addressee] FOREIGN KEY([AddresseeID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Friendships] CHECK CONSTRAINT [FK_Friendships_Addressee]
GO
ALTER TABLE [dbo].[Friendships]  WITH CHECK ADD  CONSTRAINT [FK_Friendships_Requester] FOREIGN KEY([RequesterID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Friendships] CHECK CONSTRAINT [FK_Friendships_Requester]
GO
ALTER TABLE [dbo].[GymCoaches]  WITH CHECK ADD  CONSTRAINT [FK_GymCoaches_Gym] FOREIGN KEY([GymID])
REFERENCES [dbo].[Gyms] ([GymID])
GO
ALTER TABLE [dbo].[GymCoaches] CHECK CONSTRAINT [FK_GymCoaches_Gym]
GO
ALTER TABLE [dbo].[GymCoaches]  WITH CHECK ADD  CONSTRAINT [FK_GymCoaches_User] FOREIGN KEY([CoachUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GymCoaches] CHECK CONSTRAINT [FK_GymCoaches_User]
GO
ALTER TABLE [dbo].[InjuriesReports]  WITH CHECK ADD  CONSTRAINT [FK_InjuriesReports_InjuryTypes] FOREIGN KEY([InjuryTypeID])
REFERENCES [dbo].[InjuryTypes] ([InjuryTypeID])
GO
ALTER TABLE [dbo].[InjuriesReports] CHECK CONSTRAINT [FK_InjuriesReports_InjuryTypes]
GO
ALTER TABLE [dbo].[InjuriesReports]  WITH CHECK ADD  CONSTRAINT [FK_InjuriesReports_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InjuriesReports] CHECK CONSTRAINT [FK_InjuriesReports_Users]
GO
ALTER TABLE [dbo].[InjuryCategories]  WITH CHECK ADD  CONSTRAINT [FK_InjuryCategories_InjuryTypes] FOREIGN KEY([InjuryTypeID])
REFERENCES [dbo].[InjuryTypes] ([InjuryTypeID])
GO
ALTER TABLE [dbo].[InjuryCategories] CHECK CONSTRAINT [FK_InjuryCategories_InjuryTypes]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Receiver] FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Receiver]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Sender] FOREIGN KEY([SenderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Sender]
GO
ALTER TABLE [dbo].[Recommendations]  WITH CHECK ADD  CONSTRAINT [FK_Recommendations_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Recommendations] CHECK CONSTRAINT [FK_Recommendations_Users]
GO
ALTER TABLE [dbo].[UserActivityPreferences]  WITH CHECK ADD  CONSTRAINT [FK_UAP_ActivityTypes] FOREIGN KEY([ActivityTypeID])
REFERENCES [dbo].[ActivityTypes] ([ActivityTypeID])
GO
ALTER TABLE [dbo].[UserActivityPreferences] CHECK CONSTRAINT [FK_UAP_ActivityTypes]
GO
ALTER TABLE [dbo].[UserActivityPreferences]  WITH CHECK ADD  CONSTRAINT [FK_UAP_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserActivityPreferences] CHECK CONSTRAINT [FK_UAP_Users]
GO
ALTER TABLE [dbo].[UserDevices]  WITH CHECK ADD  CONSTRAINT [FK_UserDevices_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserDevices] CHECK CONSTRAINT [FK_UserDevices_Users]
GO
ALTER TABLE [dbo].[UserTrainingGoals]  WITH CHECK ADD  CONSTRAINT [FK_UTG_Goals] FOREIGN KEY([GoalID])
REFERENCES [dbo].[TrainingGoals] ([GoalID])
GO
ALTER TABLE [dbo].[UserTrainingGoals] CHECK CONSTRAINT [FK_UTG_Goals]
GO
ALTER TABLE [dbo].[UserTrainingGoals]  WITH CHECK ADD  CONSTRAINT [FK_UTG_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserTrainingGoals] CHECK CONSTRAINT [FK_UTG_Users]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddCoachToGym]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AddCoachToGym]
    @GymID INT,
    @CoachUserID INT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM dbo.GymCoaches WHERE GymID = @GymID AND CoachUserID = @CoachUserID)
        INSERT INTO dbo.GymCoaches (GymID, CoachUserID) VALUES (@GymID, @CoachUserID);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUserActivityPreference]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* -------- Utility SPs for bridge tables -------- */

CREATE PROCEDURE [dbo].[sp_AddUserActivityPreference]
    @UserID INT,
    @ActivityTypeID INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM UserActivityPreferences WHERE UserID=@UserID AND ActivityTypeID=@ActivityTypeID)
        INSERT INTO UserActivityPreferences (UserID,ActivityTypeID) VALUES (@UserID,@ActivityTypeID);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUserTrainingGoal]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_AddUserTrainingGoal]
    @UserID INT,
    @GoalID INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM UserTrainingGoals WHERE UserID=@UserID AND GoalID=@GoalID)
        INSERT INTO UserTrainingGoals (UserID,GoalID) VALUES (@UserID,@GoalID);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConnectTraineeToCoach]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConnectTraineeToCoach]
    @CoachID INT,
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (
        SELECT 1 FROM CoachTrainees
        WHERE CoachID = @CoachID AND UserID = @UserID)
    BEGIN
        INSERT INTO CoachTrainees (CoachID, UserID, ConnectionDate, AllowNotifications)
        VALUES (@CoachID, @UserID, GETDATE(), 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteActivityLog]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3) Restore the hard-delete SP
CREATE   PROCEDURE [dbo].[sp_DeleteActivityLog]
    @ActivityID INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM ActivityLogs WHERE ActivityID = @ActivityID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCoach]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteCoach]
    @CoachID INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM CoachTrainees WHERE CoachID = @CoachID;
    DELETE FROM Coaches WHERE CoachID = @CoachID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DELETE FROM DailyLoad WHERE UserID = @UserID;
        DELETE FROM ActivityLogs WHERE UserID = @UserID;
        DELETE FROM UserActivityPreferences WHERE UserID = @UserID;
        DELETE FROM UserTrainingGoals WHERE UserID = @UserID;
        DELETE FROM UserDevices WHERE UserID = @UserID;
        DELETE FROM InjuriesReports WHERE UserID = @UserID;
        DELETE FROM Recommendations WHERE UserID = @UserID;
        DELETE FROM CoachRecommendations WHERE UserID = @UserID OR CoachID = @UserID;
        DELETE FROM CoachTrainees WHERE UserID = @UserID OR CoachID = @UserID;
        DELETE FROM Coaches WHERE UserID = @UserID;

        IF OBJECT_ID('dbo.Messages', 'U') IS NOT NULL
        BEGIN
            DELETE FROM Messages WHERE SenderID = @UserID OR ReceiverID = @UserID;
        END

        DELETE FROM Users WHERE UserID = @UserID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DisconnectTrainee]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DisconnectTrainee]
    @CoachID INT,
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM CoachTrainees
    WHERE CoachID = @CoachID AND UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActiveInjuriesByUser]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. sp_GetActiveInjuriesByUser
CREATE PROCEDURE [dbo].[sp_GetActiveInjuriesByUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ir.*, it.InjuryName
    FROM InjuriesReports ir
    LEFT JOIN InjuryTypes it ON ir.InjuryTypeID = it.InjuryTypeID
    WHERE ir.UserID = @UserID
      AND ir.IsActiveInjury = 1
    ORDER BY ir.Date DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActivityLogsByUser]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetActivityLogsByUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        ActivityID, UserID, ActivityTypeID, StartTime, EndTime,
        DistanceKM, AvgHeartRate, MaxHeartRate, CaloriesBurned,
        SourceDevice, ExertionLevel, Duration,
        CalculatedLoadForSession, IsConfirmed
    FROM ActivityLogs
    WHERE UserID = @UserID
    ORDER BY StartTime DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActivityLogsForLoad]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetActivityLogsForLoad]
    @UserID INT,
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SELECT * FROM ActivityLogs
    WHERE UserID = @UserID
      AND StartTime >= @StartDate
      AND StartTime <= @EndDate
    ORDER BY StartTime DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActivityTypes]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* -------- ActivityTypes SPs -------- */

CREATE PROCEDURE [dbo].[sp_GetAllActivityTypes]
AS
BEGIN
    SELECT * FROM ActivityTypes;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllInjuryTypes]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllInjuryTypes]
AS
BEGIN
    SELECT InjuryTypeID, InjuryName
    FROM InjuryTypes;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllTrainingGoals]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllTrainingGoals]
AS
BEGIN
    SELECT GoalID, GoalName
    FROM TrainingGoals;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsers]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetAllUsers]
AS
BEGIN
    SELECT * FROM Users;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCoachByID]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCoachByID]
    @CoachID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CoachID, FullName, Email
    FROM Coaches
    WHERE CoachID = @CoachID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCoachByUserID]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCoachByUserID]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT CoachID, UserID, FullName, Email
    FROM Coaches
    WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCoachesForTrainee]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6) sp_GetCoachesForTrainee — reverse link for the trainee-side entry ----
--    Returns the coach's Users row id (CoachUserID) so the trainee can chat.
CREATE   PROCEDURE [dbo].[sp_GetCoachesForTrainee]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT c.CoachID,
           c.UserID AS CoachUserID,
           u.FullName,
           u.Email,
           u.ProfileImagePath
    FROM dbo.CoachTrainees ct
    JOIN dbo.Coaches c ON ct.CoachID = c.CoachID
    JOIN dbo.Users  u ON c.UserID   = u.UserID
    WHERE ct.UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCoachOffersForTrainee]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Pending offers addressed TO a trainee.
CREATE   PROCEDURE [dbo].[sp_GetCoachOffersForTrainee]
    @TraineeUserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT o.OfferID,
           o.CoachUserID,
           u.FullName,
           u.Email,
           u.ProfileImagePath,
           u.ExperienceLevel,
           o.CreatedAt
    FROM dbo.CoachOffers o
    JOIN dbo.Users u ON u.UserID = o.CoachUserID
    WHERE o.TraineeUserID = @TraineeUserID AND o.Status = 'pending'
    ORDER BY o.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCoachRecommendationsByUser]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCoachRecommendationsByUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT RecID, CoachID, UserID, [Date], [Title], [Text]
    FROM CoachRecommendations
    WHERE UserID = @UserID
    ORDER BY [Date] DESC, RecID DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetConversation]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3) sp_GetConversation — include ImagePath -----------------------------
CREATE   PROCEDURE [dbo].[sp_GetConversation]
    @UserA INT,
    @UserB INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MessageID, SenderID, ReceiverID, [Text], SentAt, IsSeen, ImagePath
    FROM dbo.Messages
    WHERE (SenderID = @UserA AND ReceiverID = @UserB)
       OR (SenderID = @UserB AND ReceiverID = @UserA)
    ORDER BY SentAt ASC, MessageID ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDailyLoadByUser]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* -------- SELECT SPs -------- */

CREATE PROCEDURE [dbo].[sp_GetDailyLoadByUser]
    @UserID INT
AS
BEGIN
    SELECT * FROM DailyLoad WHERE UserID=@UserID ORDER BY Date DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFriends]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Accepted friends of @UserID (the OTHER party + presence).
CREATE   PROCEDURE [dbo].[sp_GetFriends]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        CASE WHEN f.RequesterID = @UserID THEN f.AddresseeID ELSE f.RequesterID END AS FriendUserID,
        u.FullName,
        u.Email,
        u.ProfileImagePath,
        u.ExperienceLevel,
        u.LastSeen,
        CAST(CASE WHEN u.LastSeen >= DATEADD(MINUTE, -5, SYSUTCDATETIME()) THEN 1 ELSE 0 END AS BIT) AS IsOnline,
        f.FriendshipID
    FROM dbo.Friendships f
    JOIN dbo.Users u ON u.UserID = CASE WHEN f.RequesterID = @UserID THEN f.AddresseeID ELSE f.RequesterID END
    WHERE f.Status = 'accepted' AND (f.RequesterID = @UserID OR f.AddresseeID = @UserID)
    ORDER BY u.FullName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGymCoaches]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Recommended coaches for a gym (their Users row + presence).
CREATE   PROCEDURE [dbo].[sp_GetGymCoaches]
    @GymID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT u.UserID,
           u.FullName,
           u.Email,
           u.ProfileImagePath,
           u.ExperienceLevel,
           u.LastSeen,
           CAST(CASE WHEN u.LastSeen >= DATEADD(MINUTE, -5, SYSUTCDATETIME()) THEN 1 ELSE 0 END AS BIT) AS IsOnline
    FROM dbo.GymCoaches gc
    JOIN dbo.Users u ON u.UserID = gc.CoachUserID
    WHERE gc.GymID = @GymID
    ORDER BY u.FullName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGyms]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================================
-- GYM procs
-- =====================================================================
CREATE   PROCEDURE [dbo].[sp_GetGyms]
    @Latitude  FLOAT,
    @Longitude FLOAT,
    @RadiusKm  FLOAT = 25
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @origin geography = geography::Point(@Latitude, @Longitude, 4326);
    SELECT g.GymID,
           g.Name,
           g.Address,
           g.City,
           g.Latitude,
           g.Longitude,
           g.Description,
           g.Rating,
           g.Phone,
           g.PhotoPath,
           @origin.STDistance(geography::Point(g.Latitude, g.Longitude, 4326)) / 1000.0 AS DistanceKm,
           (SELECT COUNT(*) FROM dbo.GymCoaches gc WHERE gc.GymID = g.GymID) AS CoachCount
    FROM dbo.Gyms g
    WHERE @origin.STDistance(geography::Point(g.Latitude, g.Longitude, 4326)) <= @RadiusKm * 1000.0
    ORDER BY DistanceKm ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGymsForCoach]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Gyms a coach is listed at (to show "you're recommended here").
CREATE   PROCEDURE [dbo].[sp_GetGymsForCoach]
    @CoachUserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT g.GymID, g.Name, g.Address, g.Latitude, g.Longitude
    FROM dbo.GymCoaches gc
    JOIN dbo.Gyms g ON g.GymID = gc.GymID
    WHERE gc.CoachUserID = @CoachUserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInjuriesByUser]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetInjuriesByUser]
    @UserID INT
AS
BEGIN
    SELECT ir.*, it.InjuryName
    FROM InjuriesReports ir
    LEFT JOIN InjuryTypes it ON ir.InjuryTypeID = it.InjuryTypeID
    WHERE ir.UserID=@UserID
    ORDER BY ir.Date DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLoadParameters]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLoadParameters]
AS
BEGIN
    SELECT TOP 1 * FROM LoadParameters;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNearbyUsers]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================================
-- NEARBY USERS + MINI PROFILE
-- =====================================================================
-- Users within @RadiusKm of the caller's coordinates (excludes self).
-- IsOnline = LastSeen within 5 minutes.
CREATE   PROCEDURE [dbo].[sp_GetNearbyUsers]
    @UserID    INT,
    @Latitude  FLOAT,
    @Longitude FLOAT,
    @RadiusKm  FLOAT = 25
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @origin geography = geography::Point(@Latitude, @Longitude, 4326);

    SELECT u.UserID,
           u.FullName,
           u.ProfileImagePath,
           u.ExperienceLevel,
           u.IsCoach,
           u.IsTrainee,
           u.Latitude,
           u.Longitude,
           u.LastSeen,
           CAST(CASE WHEN u.LastSeen >= DATEADD(MINUTE, -5, SYSUTCDATETIME()) THEN 1 ELSE 0 END AS BIT) AS IsOnline,
           @origin.STDistance(geography::Point(u.Latitude, u.Longitude, 4326)) / 1000.0 AS DistanceKm
    FROM dbo.Users u
    WHERE u.UserID <> @UserID
      AND u.Latitude IS NOT NULL
      AND u.Longitude IS NOT NULL
      AND @origin.STDistance(geography::Point(u.Latitude, u.Longitude, 4326)) <= @RadiusKm * 1000.0
    ORDER BY DistanceKm ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPendingFriendRequests]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Incoming pending requests addressed TO @UserID.
CREATE   PROCEDURE [dbo].[sp_GetPendingFriendRequests]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT f.FriendshipID,
           f.RequesterID AS FriendUserID,
           u.FullName,
           u.Email,
           u.ProfileImagePath,
           u.ExperienceLevel,
           u.LastSeen,
           CAST(CASE WHEN u.LastSeen >= DATEADD(MINUTE, -5, SYSUTCDATETIME()) THEN 1 ELSE 0 END AS BIT) AS IsOnline,
           f.CreatedAt
    FROM dbo.Friendships f
    JOIN dbo.Users u ON u.UserID = f.RequesterID
    WHERE f.AddresseeID = @UserID AND f.Status = 'pending'
    ORDER BY f.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRecommendationsByUser]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetRecommendationsByUser]
    @UserID INT
AS
BEGIN
    SELECT * FROM Recommendations WHERE UserID=@UserID ORDER BY Date DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSentCoachOffers]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Offers a coach has sent (so the button can show Pending/Connected).
CREATE   PROCEDURE [dbo].[sp_GetSentCoachOffers]
    @CoachUserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT OfferID, TraineeUserID, Status, CreatedAt
    FROM dbo.CoachOffers WHERE CoachUserID = @CoachUserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTraineeDailyLoadForCoach]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTraineeDailyLoadForCoach]
    @CoachID INT,
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1
        FROM CoachTrainees
        WHERE CoachID = @CoachID AND UserID = @UserID
    )
    BEGIN
        RAISERROR('Coach is not assigned to this user', 16, 1);
        RETURN;
    END

    SELECT *
    FROM DailyLoad
    WHERE UserID = @UserID
    ORDER BY [Date] DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTraineesWithLoadByCoach]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetTraineesWithLoadByCoach]
    @CoachID INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH LatestLoad AS (
        SELECT dl.UserID,
               MAX(dl.Date) AS LastDate
        FROM DailyLoad dl
        GROUP BY dl.UserID
    )
    SELECT
        u.UserID,
        u.FullName,
        u.BirthYear,
        u.Gender,
        u.DeviceType,
        dl.Date       AS [Date],
        dl.AcuteLoad,
        dl.ChronicLoad,
        dl.AC_Ratio,
        dl.StressScore,
        dl.LoadLevel
    FROM CoachTrainees ct
    INNER JOIN Users u ON ct.UserID = u.UserID
    LEFT JOIN LatestLoad ll
        ON u.UserID = ll.UserID
    LEFT JOIN DailyLoad dl
        ON dl.UserID = ll.UserID
       AND dl.Date   = ll.LastDate
    WHERE ct.CoachID = @CoachID
    ORDER BY u.FullName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUnreadMessageCount]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5) sp_GetUnreadMessageCount — badge source -----------------------------
CREATE   PROCEDURE [dbo].[sp_GetUnreadMessageCount]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT COUNT(*) FROM dbo.Messages WHERE ReceiverID = @UserID AND IsSeen = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByID]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetUserByID]
    @UserID INT
AS
BEGIN
    SELECT * FROM Users WHERE UserID=@UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserDevices]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserDevices]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DeviceID, UserID, DeviceName, LastSync, PermissionsGranted
    FROM UserDevices
    WHERE UserID = @UserID
    ORDER BY DeviceID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserLoadContext]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserLoadContext]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- User baseline info
    SELECT
        u.UserID,
        u.ExperienceLevel,                 -- 1=Beginner, 2=Regular, 3=Advanced
        u.IsBaselineEstablished,           -- 0=bootstrap mode, 1=personal mode
        u.BaselineEstablishedDate,
        u.BaseLineDailyLoad,               -- personal daily baseline
        u.BaseLineWeeklyLoad,              -- personal weekly baseline
        -- LoadParameters thresholds (joined inline)
        lp.BeginnerDailyLoad,
        lp.RegularDailyLoad,
        lp.AdvanceDailyLoad,
        lp.BeginnerAcuteLoad,
        lp.RegularAcuteLoad,
        lp.AdvanceAcuteLoad,
        lp.LowLoadRatio,
        lp.SafeZoneLowRange,
        lp.SafeZoneHighRange,
        lp.OverLoad,
        -- Active injury flag
        CAST(
            CASE WHEN EXISTS (
                SELECT 1 FROM InjuriesReports
                WHERE UserID = @UserID AND IsActiveInjury = 1
            ) THEN 1 ELSE 0 END
        AS BIT) AS HasActiveInjury
    FROM Users u
    CROSS JOIN (SELECT TOP 1 * FROM LoadParameters) lp
    WHERE u.UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserMiniProfile]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Quick-look profile when a pin is tapped: identity + training level +
-- top-3 activity types + the friendship status with the viewer.
CREATE   PROCEDURE [dbo].[sp_GetUserMiniProfile]
    @ViewerID INT,
    @TargetID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT u.UserID,
           u.FullName,
           u.ProfileImagePath,
           u.ExperienceLevel,
           u.IsCoach,
           u.IsTrainee,
           u.LastSeen,
           CAST(CASE WHEN u.LastSeen >= DATEADD(MINUTE, -5, SYSUTCDATETIME()) THEN 1 ELSE 0 END AS BIT) AS IsOnline,
           (SELECT STRING_AGG(t.TypeName, ', ') FROM (
                SELECT TOP 3 at.TypeName, COUNT(*) AS Cnt
                FROM dbo.ActivityLogs al
                JOIN dbo.ActivityTypes at ON al.ActivityTypeID = at.ActivityTypeID
                WHERE al.UserID = @TargetID
                GROUP BY at.TypeName
                ORDER BY COUNT(*) DESC
           ) t) AS TopActivities,
           (SELECT TOP 1 f.Status FROM dbo.Friendships f
             WHERE (f.RequesterID = @ViewerID AND f.AddresseeID = @TargetID)
                OR (f.RequesterID = @TargetID AND f.AddresseeID = @ViewerID)) AS FriendStatus,
           (SELECT TOP 1 f.RequesterID FROM dbo.Friendships f
             WHERE (f.RequesterID = @ViewerID AND f.AddresseeID = @TargetID)
                OR (f.RequesterID = @TargetID AND f.AddresseeID = @ViewerID)) AS FriendRequesterID,
           (SELECT TOP 1 f.FriendshipID FROM dbo.Friendships f
             WHERE (f.RequesterID = @ViewerID AND f.AddresseeID = @TargetID)
                OR (f.RequesterID = @TargetID AND f.AddresseeID = @ViewerID)) AS FriendshipID
    FROM dbo.Users u
    WHERE u.UserID = @TargetID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserSummary]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetUserSummary]
    @UserID INT
AS
BEGIN
    SELECT u.*, dl.Date AS LastLoadDate, dl.LoadLevel, dl.StressScore
    FROM Users u
    LEFT JOIN (
        SELECT UserID, MAX(Date) AS Date, LoadLevel, StressScore
        FROM DailyLoad
        WHERE UserID = @UserID
        GROUP BY UserID, LoadLevel, StressScore
    ) dl ON u.UserID = dl.UserID
    WHERE u.UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertActivityLog]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertActivityLog]
    @UserID INT, @ActivityTypeID INT,
    @StartTime DATETIME, @EndTime DATETIME,
    @DistanceKM FLOAT, @AvgHeartRate INT,
    @MaxHeartRate INT, @CaloriesBurned FLOAT,
    @SourceDevice NVARCHAR(100),
    @ExertionLevel TINYINT = NULL,
    @Duration SMALLINT = NULL,
    @CalculatedLoadForSession SMALLINT = NULL,
    @IsConfirmed BIT = 0
AS
BEGIN
    INSERT INTO ActivityLogs
    (UserID, ActivityTypeID, StartTime, EndTime, DistanceKM,
     AvgHeartRate, MaxHeartRate, CaloriesBurned, SourceDevice,
     ExertionLevel, Duration, CalculatedLoadForSession, IsConfirmed)
    VALUES
    (@UserID, @ActivityTypeID, @StartTime, @EndTime, @DistanceKM,
     @AvgHeartRate, @MaxHeartRate, @CaloriesBurned, @SourceDevice,
     @ExertionLevel, @Duration, @CalculatedLoadForSession, @IsConfirmed);
    SELECT SCOPE_IDENTITY() AS NewActivityID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertActivityType]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_InsertActivityType]
    @TypeName NVARCHAR(50)
AS
BEGIN
    INSERT INTO ActivityTypes (TypeName) VALUES (@TypeName);
    SELECT SCOPE_IDENTITY() AS NewActivityTypeID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCoach]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertCoach]
    @UserID INT,
    @FullName NVARCHAR(100),
    @Email NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Coaches (UserID, FullName, Email)
    VALUES (@UserID, @FullName, @Email);
    SELECT SCOPE_IDENTITY() AS CoachID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCoachRecommendation]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertCoachRecommendation]
    @CoachID INT,
    @UserID INT,
    @Date DATE,
    @Title NVARCHAR(200),
    @Text NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO CoachRecommendations (CoachID, UserID, [Date], [Title], [Text])
    VALUES (@CoachID, @UserID, @Date, @Title, @Text);

    SELECT SCOPE_IDENTITY() AS NewRecID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertInjuryReport]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertInjuryReport]
    @UserID INT, @InjuryTypeID INT,
    @Date DATE, @Severity INT,
    @Notes NVARCHAR(MAX),
    @IsActiveInjury BIT = 1
AS
BEGIN
    INSERT INTO InjuriesReports
    (UserID, InjuryTypeID, Date, Severity, Notes, IsActiveInjury)
    VALUES (@UserID, @InjuryTypeID, @Date, @Severity, @Notes, @IsActiveInjury);
    SELECT SCOPE_IDENTITY() AS NewInjuryID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertMessage]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2) sp_InsertMessage — accept + return ImagePath -----------------------
CREATE   PROCEDURE [dbo].[sp_InsertMessage]
    @SenderID   INT,
    @ReceiverID INT,
    @Text       NVARCHAR(1000),
    @ImagePath  NVARCHAR(300) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Messages (SenderID, ReceiverID, [Text], SentAt, IsSeen, ImagePath)
    VALUES (@SenderID, @ReceiverID, @Text, SYSUTCDATETIME(), 0, @ImagePath);

    SELECT MessageID, SenderID, ReceiverID, [Text], SentAt, IsSeen, ImagePath
    FROM dbo.Messages
    WHERE MessageID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertRecommendation]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* -------- Recommendations SPs -------- */

CREATE PROCEDURE [dbo].[sp_InsertRecommendation]
    @UserID INT,
    @Date DATE,
    @LoadLevel NVARCHAR(20),
    @RecommendationText NVARCHAR(MAX),
    @Type NVARCHAR(50)
AS
BEGIN
    INSERT INTO Recommendations (UserID,Date,LoadLevel,RecommendationText,Type)
    VALUES (@UserID,@Date,@LoadLevel,@RecommendationText,@Type);

    SELECT SCOPE_IDENTITY() AS NewRecID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUser]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertUser]
    @FullName NVARCHAR(100),
    @BirthYear INT,
    @Gender NVARCHAR(20),
    @Height INT,
    @Weight INT,
    @ActivityLevel INT,
    @DeviceType NVARCHAR(100),
    @UserName NVARCHAR(50),
    @Email NVARCHAR(255),
    @Password CHAR(8),
    @ExperienceLevel TINYINT,
    @HealthDeclaration BIT,
    @ConfirmTerms BIT,
    @TermConfirmationDate DATE,
    @IsCoach BIT,
    @IsTrainee BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Users (FullName, BirthYear, Gender, Height, Weight,
        ActivityLevel, DeviceType, UserName, Email, Password,
        ExperienceLevel, HealthDeclaration, ConfirmTerms,
        TermConfirmationDate, IsBaselineEstablished, IsCoach, IsTrainee, CreatedAt)
    VALUES (@FullName, @BirthYear, @Gender, @Height, @Weight,
        @ActivityLevel, @DeviceType, @UserName, @Email, @Password,
        @ExperienceLevel, @HealthDeclaration, @ConfirmTerms,
        @TermConfirmationDate, 0, @IsCoach, @IsTrainee, GETDATE());
    SELECT SCOPE_IDENTITY() AS UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUserDevice]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUserDevice]
    @UserID INT,
    @DeviceName NVARCHAR(100),
    @LastSync DATETIME,
    @PermissionsGranted BIT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO UserDevices (UserID, DeviceName, LastSync, PermissionsGranted)
    VALUES (@UserID, @DeviceName, @LastSync, @PermissionsGranted);

    SELECT SCOPE_IDENTITY() AS NewDeviceID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginOrCreateGoogleUser]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_LoginOrCreateGoogleUser]
    @GoogleId  NVARCHAR(128),
    @Email     NVARCHAR(255),
    @FullName  NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    -- If user already exists by GoogleId, return them
    IF EXISTS (SELECT 1 FROM Users WHERE GoogleId = @GoogleId)
    BEGIN
        SELECT * FROM Users WHERE GoogleId = @GoogleId;
        RETURN;
    END

    -- If email matches an existing account (user is linking Google to existing account)
    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
    BEGIN
        UPDATE Users SET GoogleId = @GoogleId WHERE Email = @Email;
        SELECT * FROM Users WHERE Email = @Email;
        RETURN;
    END

    -- New user — create a stub account
    INSERT INTO Users (
        FullName, BirthYear, Gender, Height, Weight,
        ActivityLevel, DeviceType, UserName, Email, Password,
        ExperienceLevel, HealthDeclaration, ConfirmTerms,
        TermConfirmationDate, IsCoach, GoogleId, CreatedAt,
        IsBaselineEstablished, BaseLineDailyLoad, BaseLineWeeklyLoad
    )
    VALUES (
        @FullName, 2000, 'Other', 170, 70,
        1, 'android', @Email, @Email, '',
        1, 1, 1,
        GETDATE(), 0, @GoogleId, GETDATE(),
        0, 0, 0
    );

    SELECT * FROM Users WHERE UserID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LoginUser]
    @Email    NVARCHAR(255),
    @Password CHAR(8)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT UserID, FullName, BirthYear, Gender, Height, Weight,
           ActivityLevel, CreatedAt, DeviceType, ProfileImagePath,
           UserName, Email, ExperienceLevel, BaseLineDailyLoad,
           BaseLineWeeklyLoad, IsBaselineEstablished, BaselineEstablishedDate,
           HealthDeclaration, ConfirmTerms, TermConfirmationDate, IsCoach, IsTrainee
    FROM Users
    WHERE Email = @Email
      AND Password = @Password COLLATE Latin1_General_CS_AS;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MarkInjuryRecovered]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MarkInjuryRecovered]
    @InjuryID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE InjuriesReports
    SET IsActiveInjury = 0
    WHERE InjuryID = @InjuryID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MarkMessagesSeen]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4) sp_MarkMessagesSeen — receiver opened the chat ----------------------
CREATE   PROCEDURE [dbo].[sp_MarkMessagesSeen]
    @SenderID   INT,
    @ReceiverID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Messages
    SET IsSeen = 1
    WHERE SenderID = @SenderID AND ReceiverID = @ReceiverID AND IsSeen = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveCoachFromGym]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_RemoveCoachFromGym]
    @GymID INT,
    @CoachUserID INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.GymCoaches WHERE GymID = @GymID AND CoachUserID = @CoachUserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveFriend]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_RemoveFriend]
    @UserA INT,
    @UserB INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.Friendships
    WHERE (RequesterID = @UserA AND AddresseeID = @UserB)
       OR (RequesterID = @UserB AND AddresseeID = @UserA);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveUserActivityPreference]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_RemoveUserActivityPreference]
    @UserID INT,
    @ActivityTypeID INT
AS
BEGIN
    DELETE FROM UserActivityPreferences WHERE UserID=@UserID AND ActivityTypeID=@ActivityTypeID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveUserTrainingGoal]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_RemoveUserTrainingGoal]
    @UserID INT,
    @GoalID INT
AS
BEGIN
    DELETE FROM UserTrainingGoals WHERE UserID=@UserID AND GoalID=@GoalID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RespondCoachOffer]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trainee responds. On accept, create the CoachTrainees link (lazy-create
-- the coach's Coaches row if missing, mirroring CoachBL).
CREATE   PROCEDURE [dbo].[sp_RespondCoachOffer]
    @OfferID INT,
    @Accept  BIT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @coachUserId INT, @traineeUserId INT;
    SELECT @coachUserId = CoachUserID, @traineeUserId = TraineeUserID
    FROM dbo.CoachOffers WHERE OfferID = @OfferID;

    UPDATE dbo.CoachOffers
       SET Status = CASE WHEN @Accept = 1 THEN 'accepted' ELSE 'declined' END,
           RespondedAt = SYSUTCDATETIME()
     WHERE OfferID = @OfferID;

    IF @Accept = 1 AND @coachUserId IS NOT NULL AND @traineeUserId IS NOT NULL
    BEGIN
        DECLARE @coachId INT;
        SELECT @coachId = CoachID FROM dbo.Coaches WHERE UserID = @coachUserId;
        IF @coachId IS NULL
        BEGIN
            INSERT INTO dbo.Coaches (FullName, Email, UserID)
            SELECT FullName, Email, UserID FROM dbo.Users WHERE UserID = @coachUserId;
            SET @coachId = SCOPE_IDENTITY();
        END
        IF NOT EXISTS (SELECT 1 FROM dbo.CoachTrainees WHERE CoachID = @coachId AND UserID = @traineeUserId)
            INSERT INTO dbo.CoachTrainees (CoachID, UserID, ConnectionDate, AllowNotifications)
            VALUES (@coachId, @traineeUserId, CAST(SYSUTCDATETIME() AS DATE), 1);
    END

    SELECT OfferID, CoachUserID, TraineeUserID, Status FROM dbo.CoachOffers WHERE OfferID = @OfferID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RespondFriendRequest]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_RespondFriendRequest]
    @FriendshipID INT,
    @Accept       BIT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Friendships
       SET Status = CASE WHEN @Accept = 1 THEN 'accepted' ELSE 'declined' END,
           RespondedAt = SYSUTCDATETIME()
     WHERE FriendshipID = @FriendshipID;

    SELECT FriendshipID, RequesterID, AddresseeID, Status, CreatedAt, RespondedAt
    FROM dbo.Friendships WHERE FriendshipID = @FriendshipID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveDailyLoad]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SaveDailyLoad]
    @UserID                INT,
    @Date                  DATE,
    @AcuteLoad             FLOAT,
    @ChronicLoad           FLOAT,
    @AC_Ratio              FLOAT,
    @StressScore           INT,
    @LoadLevel             NVARCHAR(20),
    @BaseLineDailyLoad     SMALLINT = NULL,
    @BaseLineWeeklyLoad    SMALLINT = NULL,
    @IsBaselineEstablished BIT      = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Save or update the DailyLoad record
    IF EXISTS (SELECT 1 FROM DailyLoad WHERE UserID = @UserID AND Date = @Date)
    BEGIN
        UPDATE DailyLoad
        SET AcuteLoad   = @AcuteLoad,
            ChronicLoad = @ChronicLoad,
            AC_Ratio    = @AC_Ratio,
            StressScore = @StressScore,
            LoadLevel   = @LoadLevel
        WHERE UserID = @UserID AND Date = @Date;
    END
    ELSE
    BEGIN
        INSERT INTO DailyLoad
            (UserID, Date, AcuteLoad, ChronicLoad, AC_Ratio, StressScore, LoadLevel)
        VALUES
            (@UserID, @Date, @AcuteLoad, @ChronicLoad, @AC_Ratio, @StressScore, @LoadLevel);
    END

    -- If C# has established the baseline, update Users table
    IF @IsBaselineEstablished = 1
       AND @BaseLineDailyLoad IS NOT NULL
       AND @BaseLineWeeklyLoad IS NOT NULL
    BEGIN
        UPDATE Users
        SET BaseLineDailyLoad       = @BaseLineDailyLoad,
            BaseLineWeeklyLoad      = @BaseLineWeeklyLoad,
            IsBaselineEstablished   = 1,
            BaselineEstablishedDate = @Date
        WHERE UserID = @UserID
          AND IsBaselineEstablished = 0;
    END

    -- Return the saved record to C# for confirmation
    SELECT *
    FROM DailyLoad
    WHERE UserID = @UserID AND Date = @Date;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SendCoachOffer]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================================
-- COACH OFFER procs (coach -> trainee)
-- =====================================================================
CREATE   PROCEDURE [dbo].[sp_SendCoachOffer]
    @CoachUserID   INT,
    @TraineeUserID INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @id INT, @status NVARCHAR(20);
    SELECT @id = OfferID, @status = Status FROM dbo.CoachOffers
     WHERE CoachUserID = @CoachUserID AND TraineeUserID = @TraineeUserID;

    IF @id IS NULL
    BEGIN
        INSERT INTO dbo.CoachOffers (CoachUserID, TraineeUserID, Status, CreatedAt)
        VALUES (@CoachUserID, @TraineeUserID, 'pending', SYSUTCDATETIME());
        SET @id = SCOPE_IDENTITY();
    END
    ELSE IF @status = 'declined'
    BEGIN
        UPDATE dbo.CoachOffers SET Status = 'pending', CreatedAt = SYSUTCDATETIME(), RespondedAt = NULL
         WHERE OfferID = @id;
    END

    SELECT OfferID, CoachUserID, TraineeUserID, Status, CreatedAt, RespondedAt
    FROM dbo.CoachOffers WHERE OfferID = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SendFriendRequest]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================================
-- FRIENDSHIP procs
-- =====================================================================
CREATE   PROCEDURE [dbo].[sp_SendFriendRequest]
    @RequesterID INT,
    @AddresseeID INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @id INT, @status NVARCHAR(20);
    SELECT TOP 1 @id = FriendshipID, @status = Status
    FROM dbo.Friendships
    WHERE (RequesterID = @RequesterID AND AddresseeID = @AddresseeID)
       OR (RequesterID = @AddresseeID AND AddresseeID = @RequesterID);

    IF @id IS NULL
    BEGIN
        INSERT INTO dbo.Friendships (RequesterID, AddresseeID, Status, CreatedAt)
        VALUES (@RequesterID, @AddresseeID, 'pending', SYSUTCDATETIME());
        SET @id = SCOPE_IDENTITY();
    END
    ELSE IF @status = 'declined'
    BEGIN
        -- A previously declined pair can request again (fresh direction).
        UPDATE dbo.Friendships
           SET RequesterID = @RequesterID, AddresseeID = @AddresseeID,
               Status = 'pending', CreatedAt = SYSUTCDATETIME(), RespondedAt = NULL
         WHERE FriendshipID = @id;
    END

    SELECT FriendshipID, RequesterID, AddresseeID, Status, CreatedAt, RespondedAt
    FROM dbo.Friendships WHERE FriendshipID = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateActivityLog]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateActivityLog]
    @ActivityID INT,
    @ActivityTypeID INT,
    @StartTime DATETIME,
    @EndTime DATETIME,
    @DistanceKM FLOAT,
    @AvgHeartRate INT = NULL,
    @MaxHeartRate INT = NULL,
    @CaloriesBurned FLOAT = NULL,
    @SourceDevice NVARCHAR(100),
    @ExertionLevel TINYINT,
    @Duration SMALLINT,
    @CalculatedLoadForSession SMALLINT,
    @IsConfirmed BIT
AS
BEGIN
    UPDATE ActivityLogs SET
        ActivityTypeID = @ActivityTypeID,
        StartTime = @StartTime,
        EndTime = @EndTime,
        DistanceKM = @DistanceKM,
        AvgHeartRate = @AvgHeartRate,
        MaxHeartRate = @MaxHeartRate,
        CaloriesBurned = @CaloriesBurned,
        SourceDevice = @SourceDevice,
        ExertionLevel = @ExertionLevel,
        Duration = @Duration,
        CalculatedLoadForSession = @CalculatedLoadForSession,
        IsConfirmed = @IsConfirmed
    WHERE ActivityID = @ActivityID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateLastSeen]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================================
-- PRESENCE + LOCATION procs
-- =====================================================================
CREATE   PROCEDURE [dbo].[sp_UpdateLastSeen]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Users SET LastSeen = SYSUTCDATETIME() WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- 3. sp_UpdateUser — add all new Users fields
-- ============================================================

CREATE PROCEDURE [dbo].[sp_UpdateUser]
    @UserID          INT,
    @FullName        NVARCHAR(100),
    @BirthYear       INT,
    @Gender          NVARCHAR(20),
    @Height          INT,
    @Weight          INT,
    @ActivityLevel   INT,
    @DeviceType      NVARCHAR(100),
    @UserName        NVARCHAR(50)  = NULL,
    @Email           NVARCHAR(255) = NULL,
    @ExperienceLevel TINYINT       = NULL,
    @HealthDeclaration BIT         = NULL,
    @ConfirmTerms    BIT           = NULL,
    @TermConfirmationDate DATE     = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET FullName              = @FullName,
        BirthYear             = @BirthYear,
        Gender                = @Gender,
        Height                = @Height,
        Weight                = @Weight,
        ActivityLevel         = @ActivityLevel,
        DeviceType            = @DeviceType,
        UserName              = @UserName,
        Email                 = @Email,
        ExperienceLevel       = @ExperienceLevel,
        HealthDeclaration     = @HealthDeclaration,
        ConfirmTerms          = @ConfirmTerms,
        TermConfirmationDate  = @TermConfirmationDate
    WHERE UserID = @UserID;

    -- Return updated user to C#
    SELECT * FROM Users WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserBaseline]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. sp_UpdateUserBaseline
CREATE PROCEDURE [dbo].[sp_UpdateUserBaseline]
    @UserID             INT,
    @BaseLineDailyLoad  SMALLINT,
    @BaseLineWeeklyLoad SMALLINT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Users
    SET BaseLineDailyLoad     = @BaseLineDailyLoad,
        BaseLineWeeklyLoad    = @BaseLineWeeklyLoad,
        IsBaselineEstablished = 1,
        BaselineEstablishedDate = CAST(GETDATE() AS DATE)
    WHERE UserID = @UserID
      AND IsBaselineEstablished = 0;

    SELECT UserID, BaseLineDailyLoad, BaseLineWeeklyLoad,
           IsBaselineEstablished, BaselineEstablishedDate
    FROM Users WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserDevice]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUserDevice]
    @DeviceID INT,
    @LastSync DATETIME,
    @PermissionsGranted BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE UserDevices
    SET LastSync = @LastSync,
        PermissionsGranted = @PermissionsGranted
    WHERE DeviceID = @DeviceID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserLocation]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateUserLocation]
    @UserID    INT,
    @Latitude  FLOAT,
    @Longitude FLOAT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Users
       SET Latitude = @Latitude, Longitude = @Longitude, LastSeen = SYSUTCDATETIME()
     WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserProfileImage]    Script Date: 10/06/2026 09:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Step 2: NOW create the SP (will work because column exists)
CREATE PROCEDURE [dbo].[sp_UpdateUserProfileImage]
    @UserID INT,
    @ProfileImagePath NVARCHAR(300)
AS
BEGIN
    UPDATE Users
    SET ProfileImagePath = @ProfileImagePath
    WHERE UserID = @UserID;

    SELECT @UserID AS UserID, @ProfileImagePath AS ProfileImagePath;
END
GO
USE [master]
GO
